@font-face {
    font-family: def;
    src: url(../fonts/MerriweatherSans-Regular.ttf);
    font-display: swap;
}

:root {
    --white: #e4e4e4;
}

body {
    overflow: hidden;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container {
    position: relative;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    100% {
        opacity: 1;
    }
}

.tablet-img {
    position: relative;
    z-index: 1;
    width: 145vh;
    height: 100%;
}

.tablet-wrapper {
    position: absolute;
    width: 123vh;
    height: 86%;
    border-radius: 12px;
}

.tablet-background {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1vh;
}

.tablet-page {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-color: #2c2c2c;
}

.whitelist {
    transition: 0.2s;
    background-color: rgb(0, 72, 255);
}

.jobs {
    transition: 0.2s;
    background-color: rgb(17, 255, 0);
}

.rules {
    transition: 0.2s;
    background-color: rgb(255, 225, 0);
}

.settings {
    transition: 0.2s;
    background-color: red;
}

.tablet-date-container {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    top: 0.5%;
    left: 1%;
    width: 10%;
    height: 3%;
}

.tablet-date {
    position: relative;
    color: var(--white);

    font-size: 0.6vw;
    font-family: def;
}

.tablet-apps {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 5%;
    left: 0%;

    width: 100%;
    height: 13%;
}

.tablet-apps-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;

    width: auto;
    height: 100%;
    background-color: #a7a7a78a;
    border-radius: 3vh;
}

.tablet-app {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8vh;
    height: 8vh;

    border: hidden;
    border-radius: 2vh;
    margin: 2.5vh;
    background-color: var(--white);
    z-index: 3;
    
    cursor: pointer;
}

.app-tooltip {
    position: absolute;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 16vh;
    left: -50%;
    top: -90%;

    border-radius: 1vh;
    padding: 1vh 0;

    opacity: 0;
    transition: 0.2s;

    background-color: #a7a7a77c;
    color: #fff;
    font-family: def;
    font-size: 1.5vh;
}

.app-tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;

    margin-left: -1vh;
    border-width: 1vh;
    border-style: solid;
    border-color: #a7a7a78a transparent transparent transparent;
}

.tablet-app:hover .app-tooltip {
    opacity: 1;
}

.tablet-app-img {
    position: relative;
    width: 5vh;
    height: 5vh;
}

.tablet-exit {
    position: absolute;
    left: 50%;
    bottom: 2%;
    transform: translate(-50%, -50%);

    width: 25%;
    height: 0.7%;

    border-radius: 2vh;
    background-color: var(--white);
    transition: 0.3s;
    z-index: 3;
}

.tablet-exit:hover {
    background-color: #a7a7a7;
}