@font-face {
    font-family: def;
    src: url(../fonts/MerriweatherSans-Regular.ttf);
    font-display: swap;
}

@font-face {
    font-family: def2;
    src: url(../fonts/KumbhSans-Regular.ttf);
    font-display: swap;
}

@font-face {
    font-family: def2bold;
    src: url(../fonts/KumbhSans-Bold.ttf);
    font-display: swap;
}

:root {
    --white: #e4e4e4;
}

*:focus {
    outline: none;
}

body {
    overflow: hidden;
}

::-webkit-scrollbar {
    height: 0.8vh;
}

::-webkit-scrollbar-track {
    background-color: #555;
}

::-webkit-scrollbar-thumb {
    background: var(--white);
    border-radius: 0.6vh;
}

::-webkit-scrollbar-thumb:hover {
    background: #a7a7a7;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container {
    position: relative;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    100% {
        opacity: 1;
    }
}

.tablet-img {
    position: relative;
    z-index: 1;
    width: 145vh;
    height: 100%;
}

.tablet-wrapper {
    position: absolute;
    width: 123vh;
    height: 86%;
    border-radius: 1vh;
}

.tablet-background {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1vh;
}

.tablet-page {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1.8vh;
    transition: 0.2s;
    background-color: #2c2c2c;
}

.whitelist {
    background-color: rgb(0, 72, 255);
}

.jobs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: transparent;
}

.jobs-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    left: 0;
    width: 85%;
    height: 60%;

    margin-bottom: 5%;
    overflow-x: auto;
    z-index: 1;
}

.job-slide-container {
    position: relative;
    width: 29vh;
    margin-right: 2.5vh;
    margin-left: 2.5vh;
    flex-shrink: 0;
    
    border-radius: 0.8vh;
    background-color: #3b3d42c2;
}

.slide-image-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;

    border-top-left-radius: 0.8vh;
    border-top-right-radius: 0.8vh;
}

.slide-image {
    position: relative;
    width: 100%;
    height: 100%;

    border-top-left-radius: 0.8vh;
    border-top-right-radius: 0.8vh;
}

.image-title {
    position: absolute;
    bottom: 0%;
    left: 50%;

    transform: translate(-50%, -50%);

    font-size: 1.8vw;
    font-family: def2bold;
    font-weight: 700;
    text-decoration: underline;
    text-transform: uppercase;
    text-align: center;
    color: var(--white);

    z-index: 2;
}

.slide-location-container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
}

.def-title {
    font-size: 1.8vh;
    font-family: def2bold;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
    color: var(--white);

    margin-top: 4%;
}

.def-text {
    font-size: 1.6vh;
    font-family: def2;
    font-weight: 700;
    text-align: center;
    color: var(--white);

    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
}

.loc {
    transition: 0.1s;
}

.loc:hover {
    cursor: pointer;
    color: #2678c0;
    text-decoration: underline;
}

.slide-desc-container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
}

.slide-btn-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    
    border-bottom-left-radius: 0.8vh;
    border-bottom-right-radius: 0.8vh;
    margin-top: 5%;
    margin-bottom: 5%;
}

.jobs-btn {
    padding: 1vh 5vh;

    font-size: 1.6vh;
    font-family: def2bold;
    font-weight: 700;
    text-align: center;
    color: #2b313f;

    border-radius: 0.5vh;
    border: none;
    transition: 0.2s;
}

.jobs-btn:hover {
    transform: scale(1.05);
    background-color: #2678c0;
    color: white;
}

.jobs-btn:after {
    content: "";
    background: #f1f1f1;
    position: absolute;
    top: 0;
    left: 0;
    padding: 12.5% 50%;
    opacity: 0;
    transition: all 0.5s;
    border-radius: 0.5vh;
}

.jobs-btn:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.rules {
    background-color: rgb(32, 36, 60);
}

.sidenav {
    position: relative;
    overflow-x: hidden;

    height: 85%;
    width: 20vh;
    top: 5%;
    left: 0;

    font-family: def;
    padding-top: 3vh;
    z-index: 1;
    border-right: 0.2vh solid #b1b1b1;
}

.sidenav::-webkit-scrollbar { 
    display: none;
}

.sidenav-title {
    position: relative;
    left: 50%;
    transform: translateX(-25%);

    font-size: 1vw;
    font-family: def;
    font-weight: 700;
    text-decoration: underline;
    text-align: center;
    color: #818181;
}

.sidenav a, .dropdown-btn {
    display: block;
    padding: 1vh 1vh 0.8vh 2vh;
    width: 100%;

    font-size: 1vw;
    font-family: def;
    text-align: left;
    color: #818181;

    border: none;
    background: none;
    outline: none;
    text-decoration: none;

    cursor: pointer;
}

.sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
}

.main {
    font-size: 1vh;
    padding: 0px 10px;
}

.active {
    color: white;
}
  
.index-container {
    display: none;
    padding-left: 1vh;
}

.fa-caret-down {
    float: right;
    padding-right: 0.1vw;
}

/* Rules text */
.rules-text-container {
    position: absolute;
    top: 5%;
    right: 1%;

    width: 81%;
    height: 90%;

    font-family: def;
    color: #f1f1f1;
    overflow-y: scroll;
    z-index: 5;
}

.rules-text-title {
    position: relative;
    left: 50%;
    width: 25%;

    transform: translateX(-50%);

    text-align: center;
    font-size: 3.5vw;
    font-family: def;
    font-weight: 700;
    color: #f1f1f1;

    border-bottom: 0.3vh solid #f1f1f1;
}

.rules-text-subt {
    position: relative;

    text-align: center;
    font-size: 2.0vw;
    color: #dadada;
}

.rules-text-subsub {
    position: relative;
    margin-left: 5vh;

    text-decoration: underline;
    font-size: 1.5vw;
    color: #dadada;
}

.rules-text-text {
    position: relative;
    margin-left: 2vh;
    margin-right: 3vh;

    font-size: 1.0vw;
    color: #dadada;
}

/* Bugs page */
.bugs {
    background-color: #ececec;
}

.bugs-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 1vh;
    width: 100%;
    height: 13%;
    background-color: #e1e1e1;
    border-bottom: 0.1vh solid #818181;
}

.bugs-nav-title {
    margin-left: 5%;
    font-size: 3.2vw;
    font-family: def2bold;
    font-weight: 700;

    border-bottom: 0.3vh solid black;
}

.bugs-nav-title-img {
    width: 8vh;
    height: auto;
}

.bugs-nav-btn {
    position: relative;
    padding: 1.5vh 2vh;
    margin-right: 3%;

    background-color: #258ef0;
    
    font-family: def2bold;
    font-size: 1vw;
    border-radius: 1.2vh;
    border: none;
    z-index: 5;

    transition: 0.2s;
    cursor: pointer;
}

.bugs-nav-btn:hover {
    transform: scale(1.05);
    color: #eeeeee;
}

.bugs-req-container {
    display: flex;
    position: relative;
    top: 5%;
    left: 3%;
    height: 55%;
    width: 30%;
    
    border: 0.1vh solid #818181;
    border-radius: 0.8vh;
    background-color: #e1e1e1;
}

.bugs-req-header {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0%;
    width: 100%;
    height: 12%;

    background-color: #c0c0c0;
}

.bugs-req-title {
    font-size: 1.5vw;
    font-family: def2bold;
    border-bottom: 0.1vh solid black;
}

.bugs-num-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    padding-top: 8%;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
}

.bugs-num {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4vh;
    height: 4vh;

    border-radius: 50%;
    font-family: def2bold;
    font-size: 1.3vw;
    color: #fff;
    
    background-color: #258ef0;
    border: 0.3vh solid #2678c0;
}

.bugs-sub-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    padding-top: 9%;
    width: 80%;
    height: 100%;
}

.bugs-sub {
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: underline #2678c0;
    font-family: def2bold;
    font-size: 1.1vw;
    color: #424242;
}

.bugs-form-container {
    position: absolute;
    top: 48%;
    left: 55%;
    transform: translate(-50%, -50%);

    width: 35%;
    height: 60%;
    z-index: 5;

    border: 0.1vh solid #818181;
    border-radius: 0.8vh;
    background-color: #e1e1e1;
}

.bugs-form-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 13%;
    top: 0;
    left: 0;

    border-top-left-radius: 0.8vh;
    border-top-right-radius: 0.8vh;
    background-color: #c0c0c0;
}

.bugs-form-header p {
    font-family: def2bold;
    font-size: 1.8vw;
    border-bottom: 0.1vh solid black;
}

.bugs-form-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;

    top: 0;
    left: 0;
    width: 100%;
    height: 87%;

    border-bottom-left-radius: 0.8vh;
    border-bottom-right-radius: 0.8vh;
}

.bugs-form-p {
    font-family: def2bold;
    font-size: 1.2vw;
    color: #424242;
    border-bottom: 0.1vh solid #258ef0;
}

.bugs-form-select {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 10%;

    text-align: center;
    font-size: 1.1vw;
    font-family: def2;
    
    border-radius: 0.4vh;
    background-color: #e1e1e1;
    border: 0.1vh solid #818181; 
}

.bugs-form-select option {
    text-align: center;
    font-size: 0.8vw;
    background-color: #dddbdb;
}

.bugs-form-inp {
    width: 60%;
    height: 5%;

    text-align: center;
    font-size: 0.8vw;
    font-family: def2;
    
    border-radius: 0.4vh;
    background-color: #e1e1e1;
    border: 0.1vh solid #818181;
}

.discord {
    width: 50%;
}

.bugs-form-desc {
    width: 60%;
    height: 10%;
    margin-bottom: 5%;

    text-align: center;
    font-size: 0.8vw;
    font-family: def2;
    
    border-radius: 0.4vh;
    background-color: #e1e1e1;
    border: 0.1vh solid #818181;
}

.bugs-form-submit {
    width: 40%;
    height: 8%;
    margin-bottom: 5%;

    border-radius: 0.8vh;
    border: none;
    background-color: #c0c0c0;

    font-family: def2bold;
    font-size: 1.0vw;
    color: #424242;

    cursor: pointer;
    transition: 0.2s;
}

.bugs-form-submit:hover {
    transform: scale(1.05);
    background-color: #258ef0;
    color: #eeeeee;
}

.bugs-question-wrapper {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 40%;
    height: 20%;  
    border-radius: 1vh;

    background-color: #353e55;
    opacity: 0;
    transition: 1s;
    z-index: 5;
}

.bugs-question-container {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    width: 100%;
    height: 65%;
}

.bugs-question-container p {
    font-size: 1.5vw;
    font-family: def2bold;
    color: #e6e6e6;
}

.bugs-question-btns {
    display: flex;
    width: 100%;
    height: 40%;
    justify-content: space-evenly;
}

.bugs-question-btns button {
    width: 35%;
    height: 100%;
    border-radius: 0.8vh;
    border: none;

    font-size: 1vw;
    font-family: def2bold;
    font-weight: 100;
    color: #424242;

    background-color: #c0c0c0;
    transition: 0.3s;
    cursor: pointer;
}

.bugs-question-btns button:hover {
    color: #eeeeee;
    background-color: #258ef0;
}

.bugs-desc-container {
    position: absolute;
    width: 26vh;
    height: 36vh;
    top: 25%;
    right: 3%;

    border: 0.1vh solid #818181;
    border-radius: 0.8vh;
    background-color: #e1e1e1;
    overflow: hidden;
}

.bugs-desc-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 15%;
    top: 0;
    left: 0;

    border-top-left-radius: 0.8vh;
    border-top-right-radius: 0.8vh;
    background-color: #c0c0c0;
}

.bugs-desc-title {
    font-family: def2bold;
    font-size: 1.3vw;
    border-bottom: 0.1vh solid black;
}

.bugs-desc-info-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 85%;

    border-bottom-left-radius: 0.8vh;
    border-bottom-right-radius: 0.8vh;
}

.bugs-desc-info-text {
    font-family: def2bold;
    font-size: 0.95vw;
    text-align: center;
    color: #424242;

    margin-left: 2%;
    margin-right: 2%;
}

/* Setttings page */
.settings {
    top: 15%;
    right: 10%;
    width: 30%;
    height: 28%;
    opacity: 0;

    background-color: #2b313f;
}

.settings-tabs {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 6vh;

    border-top-right-radius: 1.8vh;
    border-top-left-radius: 1.8vh;
    z-index: 5;

    color: var(--white);
    cursor: pointer;
    transition: 0.5s;

    font-size: 1.0vw;
    font-family: def;
}

.settings-page {
    position: absolute;

    height: 85%;
    width: 100%;
    opacity: 0;

    border-top: 0.4vh solid #353e55;
    border-bottom-right-radius: 1.8vh;
    border-bottom-left-radius: 1.8vh;
}

.settings-subt {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    
    color: var(--white);
    text-decoration: underline #258ef0;

    font-size: 1.1vw;
    font-family: def;
}

.settings-selection {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 50%;
    height: 5vh;

    border-radius: 1vh;
    border: none;

    z-index: 1;
    background-color: #2678c0;
    color: var(--white);
    cursor: pointer;

    font-size: 0.9vw;
    font-family: def;
}

.settings-url {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 80%;
    height: 5vh;

    border-radius: 1vh;
    border: 0vh;

    z-index: 1;
    background-color: #2678c0;
    color: var(--white);
    cursor: pointer;

    font-size: 0.9vw;
    font-family: def;
    text-align: center;
}

.settings-url::placeholder {
    color: #b1b1b1;
    opacity: 1;
}

.settings-buttons-container {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    top: 4%;
}

.settings-buttons {
    position: relative;
    width: 40%;
    height: 4.5vh;
    margin-top: 3%;

    border-radius: 0.5vh;
    border: 0vh;
    z-index: 1;
    background-color: #2678c0;
    color: var(--white);
    cursor: pointer;

    font-size: 0.9vw;
    font-family: def;
    text-align: center;
}

.accept {
    background-color: #65aa20;
}

.cancel {
    background-color: #ad0e2e;
}

.settings-save {
    position: relative;
    width: 80%;
    height: 4.5vh;
    left: 50%;
    transform: translate(-50%);
    margin-top: 3%;

    border-radius: 0.5vh;
    border: 0vh;
    z-index: 1;
    background-color: #2678c0;
    color: var(--white);
    cursor: pointer;

    font-size: 0.9vw;
    font-family: def;
    text-align: center;
}

.settings-url:hover,
.settings-selection:hover,
.settings-buttons:hover
.settings-save:hover {
    border: 0.1vh solid white;
}

/* Apps tab */
.apps-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;

    top: 0;
    height: 86%;
    border-bottom-right-radius: 1.8vh;
    border-bottom-left-radius: 1.8vh;
}

.switch {
    position: relative;
    display: flex;
    justify-content: center;
    flex: 1 0 30%;
    height: 11vh;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 1vh;
    background-color: #dbdbdb;
    transition: .4s;
    z-index: 2;
}

input:checked + .slider {
    background: #388eff;
}

.slider-img {
    width: 6vh;
    height: auto;
}

.tablet-date-container {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    top: 0.5%;
    left: 1%;
    width: 10%;
    height: 3%;
}

.tablet-date {
    position: relative;
    color: var(--white);

    font-size: 0.6vw;
    font-family: def;
}

.tablet-apps {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 5%;
    left: 0%;

    width: 100%;
    height: 13%;
}

.tablet-apps-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;

    width: auto;
    height: 100%;
    background-color: #a7a7a78a;
    border-radius: 3vh;
}

.tablet-app {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8vh;
    height: 8vh;

    border: hidden;
    border-radius: 2vh;
    margin: 2.5vh;
    background-color: #dbdbdb;
    z-index: 5;
    
    cursor: pointer;
}

.app-tooltip {
    position: absolute;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 16vh;
    left: -50%;
    top: -70%;

    border-radius: 1vh;
    padding: 0.5vh 0;

    opacity: 0;
    transition: 0.2s;

    background-color: #a7a7a77c;
    color: #fff;
    font-family: def;
    font-size: 1.5vh;
}

.app-tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;

    margin-left: -1vh;
    border-width: 1vh;
    border-style: solid;
    border-color: #a7a7a77c transparent transparent transparent;
}

.tablet-app:hover .app-tooltip {
    opacity: 1;
}

.tablet-app-img {
    position: relative;
    width: 5vh;
    height: 5vh;
}

.tablet-exit {
    position: absolute;
    left: 50%;
    bottom: 2%;
    transform: translate(-50%, -50%);

    width: 25%;
    height: 0.7%;

    border-radius: 2vh;
    background-color: var(--white);
    transition: 0.3s;
    z-index: 3;
}

.tablet-exit:hover {
    background-color: #a7a7a7;
}